@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Boldonse&family=Bungee+Spice&family=Crafty+Girls&family=Elms+Sans:ital,wght@0,100..900;1,100..900&family=Figtree:ital,wght@0,300..900;1,300..900&family=Fredericka+the+Great&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lobster&family=Lora:ital,wght@0,400..700;1,400..700&family=Marck+Script&family=Merienda:wght@300..900&family=Momo+Trust+Display&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Stack+Sans+Headline:wght@200..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Unbounded:wght@200..900&family=Young+Serif&display=swap');

:root {
    --Green_500: hsl(158, 36%, 37%);
    --Green_700: hsl(158, 42%, 18%);
    --Black: hsl(212, 21%, 14%);
    --Grey: hsl(228, 12%, 48%);
    --Cream: hsl(30, 38%, 92%);
    --White: hsl(0, 0%, 100%);
}

p {
    font-size: 14px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-width: 100vw;
    min-height: 100vh;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* hidden product pc for the mobile size */

.mobile {
    display: none;
}

/* main container in the center */

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Cream);
}

/* desktop design */

.card {
    border-radius: 1em;
    display: flex;
    max-width: 55em;
    background-color: var(--White);
}

.card .product img:first-of-type {
    max-width: 25em;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 100%;
}

/* description of the product ect */


.des-container {
    padding: 2em 4em;
    width: 100%;
}

.des-container h3 {
    margin: 20px 0;
    color: var(--Grey);
    letter-spacing: 10px;
}

.des-container .product-name {
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
    font-variation-settings:
        "SOFT" 0,
        "WONK" 0;
    color: var(--Black);
    font-size: 4em;
    max-width: 400px;
    margin: 20px 0;
}

.des-container .description {
    color: var(--Grey);
    font-size: 1.2em;
    margin: 20px 0;
}

/* Price container */

.des-container .price-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em 0;
    width: 70%;
}

.des-container .price-container .price {
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
    font-variation-settings:
        "SOFT" 0,
        "WONK" 0;
    font-size: 3.2em;
    color: var(--Green_500);
}

.des-container .price-container .original-price {
    text-decoration: line-through;
}

/* Button */

.des-container button {
    display: flex;
    justify-content: center;
    background-color: var(--Green_500);
    color: var(--White);
    max-width: 100%;
    width: 100%;
    border-radius: 10px;
    padding: 15px 25px;
    font-size: 1.5em;
    border: none;
    cursor: pointer;
}


@media (max-width:800px) and (min-width:298px) {

    * {
        margin: 0;
        padding: 0;
    }

    main {
        width: 100%;
        height: auto;
    }

    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }


    /* mobile design */

    .card {
        max-width: 25em;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 4rem 2rem;
    }

    .card .product img:last-of-type {
        max-width: 100%;
        height: auto;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .des-container {
        width: auto;
        padding: 10px;
        margin: 0 10px;
    }

    .des-container .product-name {
        font-size: 2.5em;
        font-weight: 900;
    }

    .des-container .description {
        font-size: 1em;
        padding: 0 5px;
    }

    /* price container for mobile size */

    .des-container .price-container {
        gap: 20px;
    }

    .des-container .price-container .price {
        font-size: 3em;
    }

    /* button mobile size */

    .des-container button {
        margin: 20px 0;
    }
}